body {
  background: black;
  color: red;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  border: 2px solid red;
  padding: 30px;
  width: 350px;
  text-align: center;
  box-shadow: 0 0 20px red;
}

input, textarea {
  width: 100%;
  background: black;
  color: red;
  border: 1px solid red;
  margin-top: 15px;
  padding: 10px;
}

textarea {
  height: 200px;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: transparent;
  color: red;
  border: 2px solid red;
  cursor: pointer;
}

button:hover {
  background: red;
  color: black;
}

.hidden {
  display: none;
}

#lista {
  margin-top: 20px;
  border-top: 1px solid red;
}

.arquivo {
  margin-top: 10px;
  padding: 8px;
  border: 1px solid red;
  cursor: pointer;
  transition: 0.2s;
}

.arquivo:hover {
  background: red;
  color: black;
}

button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 2px solid red;
  color: red;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: red;
  color: black;
}

#lista {
  margin-top: 25px;
  border-top: 1px solid red;
}

.arquivo {
  margin-top: 10px;
  padding: 8px;
  border: 1px solid red;
  cursor: pointer;
}

.arquivo:hover {
  background: red;
  color: black;
}
